<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <style>
      body {
        background: #eee;
      }
      nav {
        line-height: 3em;
      }
      code {
        white-space: pre;
        position: relative;
      }
      .content {
        margin-top: 4em;
      }
      .centered {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      .right {
        position: absolute;
        right: 0.5em;
        top: 0;
      }
      .soft {
        opacity: 0.5;
      }
      .private {
        color: #080;
      }
      .me {
        color: #800;
      }
    </style>
  </head>
  <body>
    <nav>
      Chat app
      <div class="right" rv-show="account">{ account.username }</div>
    </nav>
    <div class="content">
      <div class="centered" rv-show="account">
        <div class="card">
          <code rv-each-message="messages" rv-class-private="message.to"><a rv-show="message.from" rv-class-me="message.fromMe">{message.from}<a rv-if="message.to" rv-class-me="message.toMe"> &gt; {message.to}</a>: </a>{ message.data }<div class="soft right" rv-if="message.from">{ message.when | date }</div></code>
        </div>
        <form onsubmit="return app.send(this)">
          <input name="message">
          <button class="right">Send</button>
        </form>
      </div>
      <form class="centered" rv-hide="account" onsubmit="return app.login(this)">
        <label><input type="text"     name="username" placeholder="Username"></label>
        <label><input type="password" name="password" placeholder="Password"></label>
        <button type="submit" class="right">Login</button>
      </form>
    </div>
    <script src="app.js"></script>
  </body>
</html>
